.all-tools-container {
  position: fixed;
  width: 100%;
  height: 319px;
  margin: 0px;
  background-color: lightgray;
  bottom: 0px;
  transform: translate3d(0, 36vh, 0);
  transition: transform .5s
              cubic-bezier(.25,.1,.25,1);
}

.palette-selector {
  position: absolute;
  top: -60px;
  background-color: white;
  display: flex;
}

.all-tools-container.hide {
  transform: translate3d(0, 36vh, 0);
}
 
.all-tools-container.show {
  transform: translate3d(0, 0, 0);
  overflow: hidden;
}


.hide-palette {
  width: 74px;
  height: 63px;
  margin-left: 35px;
  margin-top: 1px;
  border: none;
  background-color: lightgrey;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-image: url("../assets/Arrow_down.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  padding: 0px;
}

.color-palette-btn {
  width: 160px;
  height: 64px;
  border: none;
  margin-right: 2px;
  margin-left: 2px;
  background-color: lightgrey;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.tab-plus {
  width: 74px;
  height: 63px;
  border: none;
  margin-top: 1px;
  background-color: lightgrey;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-image: url("../assets/math-plus.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  padding: 0px;
}