.landing-content-2 {
  margin-top: 20px;
  margin-bottom: 20px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Shippori Antique', sans-serif;
}

.landing-2-description {
  width: 600px;
}

.landing-2-title {
  font-family: 'Playfair Display', serif;
  font-size: 35px;
}