#leaf1 {
  background-color: #252617;
}

#leaf2 {
  background-color: #4F5132;
}

#leaf3 {
   background-color: #3E5915;
}

#leaf4 {
  background-color: #548C1C;
}

#leaf5 {
  background-color: #E1BF45;
}

#leaf6 {
  background-color: #6DC3AF;
}