#moon1 {
  background-color: #111111;
}

#moon2 {
  background-color: #262626;
}

#moon3 {
   background-color: #595959;
}

#moon4 {
  background-color: #716D88;
}

#moon5 {
  background-color: #88778B;
}

#moon6 {
  background-color: #433688;
}