.audio.hide {
  position: absolute;
  width: 350px;
  height: fit-content;
  left: 70%;
  z-index: 1000;
  transform: translate3d(0, -88px, 0);
  transition: transform .5s
  cubic-bezier(.25,.1,.25,1);
}

.audio.show {
  position: absolute;
  width: 350px;
  height: fit-content;
  left: 70%;
  z-index: 1000;
  transform: translate3d(0, 0vh, 0);
  overflow: visible;
  transition: transform .5s
  cubic-bezier(.25,.1,.25,1);
}

.arrow-direction.up {
  margin-right: 25px;
  transform: rotate(180deg)
}

.arrow-direction.down {
  margin-right: 25px;
}

.toggle-music {
  width: 350px;
  height: 59px;
  border: none;
  background-color: lightgrey;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  &:hover {
    outline: 3px solid lightgrey;
    cursor: pointer;
  }
}

.songTitle {
  margin-right: 10px;
}

.arrow {
  margin-right: 25px;
}
