.audio {
  position: absolute;
  width: 350px;
  height: fit-content;
  left: 70%;
}

.toggle-music {
  width: 350px;
  height: 59px;
  border: none;
  background-color: lightgrey;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  font-size: 20px;
  background-image: url('../assets/Arrow_down.png');
  background-repeat: no-repeat;
  background-position-x: 85%;
  background-position-y: center;
}

