.audio {
  position: absolute;
  width: 350px;
  height: fit-content;
  left: 70%;
  z-index: 1000;
}

.toggle-music {
  width: 350px;
  height: 59px;
  border: none;
  background-color: lightgrey;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.beats {
  margin-right: 90px;`1W YAIQ K M1,QS
}

.arrow {
  margin-right: 25px;
}
