.palette-1 {
  width: 988px;
  height: 194px;
  display: flex;
  justify-content: space-between;
  margin-left: 35px;
}

.color-swatch-1-btn {
  height: 138px;
  width: 138px;
  border-radius: 25px;
  border: none;
  padding: 0px;
}

.swatch {
  height: 194px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 43px;
}

.color-name {
  margin-top: 20px;
}

#blue {
  background-color: gray;
}