.size-slider {
  position: relative;
  z-index: 1000;
  width: 257px;
  height: 147px;
  border: none;
  background-color: bisque;
  bottom: 30px;
  right: -1140px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.size {
  margin-bottom: 15px;
}

.size-value {
  margin-top: 15px;
}