.size-slider {
  position: absolute;
  z-index: 999;
  width: 257px;
  height: 147px;
  border: none;
  background-color: lightgrey;
  bottom: 350px;
  right: 25px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.size {
  margin-bottom: 15px;
}

.size-value {
  margin-top: 15px;
}