.tool-selector {
  width: 338px;
  display: flex;
  margin-right: 75px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15px;
}

.selector-top,
.selector-bottom {
  width: 338px;
  height: 102px;
}

.selector-top {
  margin-top: 19px;
}

.selector-bottom {
  margin-bottom: 36px;
}
.tool-btn {
  width: 79.42px;
  height: 77.29px;
  background: #FFFFFF;
  border-radius: 50%;
  margin-left: 21px;
  border: none;
  &:hover {
    border: 3px solid #545454;
    cursor: pointer;
  }
}

#fakebtn {
  position: absolute;
}

#paint-brush {
  background-position-x: center;
  background-position-y: center;
}

#bigger {
  background-image: url('../assets/math-plus.svg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

#smaller {
  background-image: url('../assets/math-minus.svg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

#erase {
  background-image: url('../assets/erase.svg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

#contrast {
  background-image: url('../assets/edit-contrast.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

#trash {
  background-image: url('../assets/trash-empty.svg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}