#wave1 {
  background-color: #012340;
}

#wave2 {
  background-color: #053553;
}

#wave3 {
   background-color: #3478A1;
}

#wave4 {
  background-color: #2594D9;
}

#wave5 {
  background-color: #5783F5;
}

#wave6 {
  background-color: #3148BE;
}